torch==1.12.0
torchaudio
torchmetrics
torchvision
numpy
opencv-python
loguru
scikit-image
scikit-learn
tqdm
Pillow
thop
ninja
tabulate
tensorboard
lap
filterpy
h5py
matplotlib
scipy
seaborn
prettytable
easydict
tensorboard
pyyaml
yacs
termcolor
gdown
onnx==1.12
onnxruntime==1.12
onnx-simplifier==0.3.5
xmltodict>=0.12.0
# Cython-bbox
cython_bbox
# faiss cpu / gpu
faiss-cpu
ultralytics
