# requirements
# Usage: pip install -r requirements.txt

gitpython
ipython
torch==1.12.0
torchvision==0.13.0
torchaudio==0.12.0
torchmetrics

lap==0.4.0
h5py==3.7.0
pyyaml==6.0
yacs==0.1.8
gdown==5.1.0
tqdm==4.64.1
scipy==1.7.3
loguru==0.7.2
numpy==1.21.6
Pillow==9.2.0
easydict==1.13
seaborn==0.13.2
filterpy==1.4.5
ninja==1.11.1.1
termcolor==2.4.0
tabulate==0.8.10
matplotlib==3.5.3
tensorboard==2.9.1
scikit-learn==1.0.2
ultralytics==8.2.15
prettytable==3.10.0
scikit-image==0.19.3
opencv-python==4.6.0.66
thop==0.1.1.post2209072238

onnx==1.12
onnxruntime==1.12
onnx-simplifier==0.3.5
xmltodict>=0.12.0
cython_bbox==0.1.5

# faiss cpu / gpu
faiss-cpu

# download weight
wget
